@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.html {
    background-color: #FFC857 !important;
}

.heading {
    font-family: 'Oswald', sans-serif;
}

.subheading {
    font-family: 'Open Sans', sans-serif
}