.SinglePainting {
  display: block;
}

.card {
  width: 18rem;
}

.card-img-top {
  height: 16rem;
  object-fit: cover;
}

.view:hover {
  background-color: 'black';
  box-shadow: 0 0 11px 
}

@media only screen and (min-width: 410px) {
  /* For mobile phones: */
  .btnContainer {
    text-align: center;

  }
}